body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card */
.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

/* Input */
.input-section {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

input:focus {
  border-color: #4facfe;
}

/* Button */
button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #4facfe;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #007bff;
  transform: scale(1.05);
}

/* List */
ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f4;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.todo-item:hover {
  background: #e0f7ff;
}

/* Delete button */
.delete-btn {
  background: red;
}

.delete-btn:hover {
  background: darkred;
}